.area {
    background: #1a1a1a;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 3rem 10% 0;
    font-size: 2.5vw;
    font-family: 'Jura', sans-serif;
}

h4 {
    margin: 0;
    font-size: 2rem;
}

#about-contents, #skills-contents, #projects-contents, #contact-contents {
    margin: 0;
    padding: 2% 17% 2%;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5vw;
    word-spacing: 0.3vw;
}

#skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-icon {
    width: 3.5vw;
    padding: 1.5vw;
}

#mongodb-icon {
    height: 5vw;
    padding: 1.5vw;
}

#django-icon {
    height: 5vw;
    padding: 1.5vw;
}