body {
    background: linear-gradient(75deg, #0e0e0e, #262626, 
    #101010, #252525, #1a1a1a);
    background-size: 300% 300%;
    animation: gradient 30s ease infinite;
    margin: 0;
    overscroll-behavior: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav {
    background: #0505054d;
    backdrop-filter: blur(30px);
    padding: 0.5rem;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    margin: 0;
    padding: 0 2rem;
    color: rgb(201, 201, 201);
    font-size: 2vw;
    text-decoration: none;
}

.nav-link:hover {
    cursor: pointer;
    color: white;
}

#nav-link-left, #nav-link-right {
    display: flex;
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}