.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 15px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 60vw;
    transform-style: preserve-3d;
    z-index: -1;
    transition: all 0.9s;
}

#landing-container {
    background-color: #323232;
    height: 40vw;
    width: 70vw;
    margin: 5% 10% 0;
    color: green;
    border: 1px solid #434343;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(132, 132, 132, 0.12);
    transition: all 0.6s;
}

.background {
    transform: translateZ(-30px) scale(3.8);
}

.foreground {
    transform: translateZ(-15px) scale(2.5);
}

.background, .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#landing-container:hover {
    box-shadow: 0 0 2rem rgba(204, 204, 204, 0.12)
}

#top-row {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.6s;
}

h2 {
    margin: 2rem 2rem 0; 
    font-size: 4vw;
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: -0.5rem 1.8rem;
    font-family: 'Jura', sans-serif;
    font-size: 6vw;
    transition: all 0.5s;
    text-shadow: 0.6rem 0.4rem 0.4rem #272727;
}

#top-links {
    height: 70%;
    width: 10%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 1.8vw;
}

#top-links > a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

#top-links > a:hover {
    font-size: 2.3vw;
}

#top-about-link {
    position: absolute;
    top: 4vw;
}

#top-skills-link {
    position: absolute;
    top: 7vw;
}

#top-projects-link {
    position: absolute;
    top: 10vw;
}

#top-resume-link {
    position: absolute;
    top: 13vw;
}

#top-contact-link {
    position: absolute;
    top: 16vw;
}

#mid-row {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mid-bio {
    margin: 7% 0 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    transition: all 0.6s;
}

#mid-row-links {
    width: 40vw;
    margin: 3vw 0 0;
    position: relative;
}

#mid-row-links > a {
    transition: all 0.2s;
    font-size: 4vw;
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.fa-linkedin {
    position: absolute;
    left: 0;
}

.fa-github {
    position: absolute;
    left: 45%;
}
.fa-instagram {
    position: absolute;
    right: 0;
}

#mid-row-links > a:hover {
    font-size: 5vw;
    color: white;
    text-shadow: 0 0.5rem 0.2rem #242424;
}

a:hover {
    cursor: pointer;
}